<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Something</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <img src=<%="https://media.giphy.com/media/" + catId + "/giphy.gif" %>>
  <br>
  <a href='/'><button type="button" name="button">Next</button></a>
  <a href='/search'><button type="button" name="button">Search</button></a>
</body>

</html>
